.card {
  padding: var(--gap);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--color-secondary-gray);
}

.imgWrapper {
  position: relative;
  padding: 21px 28px 21px 29px;
  margin-bottom: 16px;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.heartColored {
  composes: heart;
  fill: red;
}

.top,
.organic {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
}

.top {
  bottom: 0;
  background-color: var(--color-top);
}

.organic {
  top: 0;
  background-color: var(--color-main-gray);
}

.metaUpper {
  margin-bottom: var(--gap);
}

.manuf,
.price {
  font-family: var(--font-medium);
}

.manuf {
  font-size: 10px;
}

.name {
  font-size: 14px;
}

.metaLower {
  display: flex;
  justify-content: space-between;
}

.prices {
  display: flex;
  flex-direction: column;
}

.pastPrice {
  text-decoration: line-through;
  color: var(--color-dark-gray);
}

.seller {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.location {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
}

.price,
.locationName,
.sellerName {
  color: var(--color-main-black);
}

.locationName {
  margin-left: 4px;
}

.person {
  display: flex;
}

.sellerImg {
  margin-right: 8px;
}
